.alta-main{
        margin: 0px;
        font-family: "Quicksand", sans-serif;
        letter-spacing: 1px;
        background-color: #dfdfdf;
        margin-top: 0;
        padding-bottom: 10%;
}
form{
    font-size: 30px;
    width: 70%;
    color:#231d1d;
    padding: 5%;
    margin-top: 5% ;
    margin-bottom: 5%;
    box-shadow: 0 0 20px 1px;
    margin-left: 10%
    
}

.input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.input-error-activo {
    display: block;
}

.grupo-correcto  {
    color: green;
    opacity: 1;
  }
  
  .grupo-incorrecto .label {
    color: red;
  }
  
  .grupo-incorrecto{
    color: red;
    
  }

  .mensaje{
    font-size: 14px;
    color: red;
    display: none;
  }
  .mensaje-activo{
    display: block;
  
  }
  
  .mensaje-exito {
      font-size: 14px;
      color: green;
      display: none;
  }
  
  .mensaje-exito-activo {
      display: block;
  }
